@model SaturdayClass
@{
    ViewData["Title"] = "Admin Dashboard";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <style>
        .form-container {
            display: flex;
            justify-content: center;
            gap: 20px;
            position: absolute;
            top: 10%;
            width: 100%;
        }

        .form-1, .form-2 {
            background-color: powderblue;
            width: 15%;
            border-radius: 10px;
        }

            .form-1 select, .form-1 input[type=date], .form-1 input[type=text], .form-1 input[type=submit] {
                padding: 6px 10px;
                border: 1px solid #ccc;
                border-radius: 4px;
            }

            .form-2 select, .form-2 input[type=date], .form-2 input[type=text], .form-2 input[type=submit] {
                padding: 6px 10px;
                border: 1px solid #ccc;
                border-radius: 4px;
            }

        .saturday {
            border-radius: 10px;
        }

    </style>
</head>
<body>
    <nav>
        <a class="navbar-brand" asp-area="" asp-controller="Schedule" asp-action="GetSchedule">Home</a>
    </nav>
    <div class="form-container">
        <div class="form-1">
    <form method="post" asp-controller="Admin" asp-action="AddData">
    @using (Html.BeginForm())
    {
        @Html.LabelFor(model => model.StartSaturday, "Start saturday")
        <br />
        @Html.EditorFor(model => model.StartSaturday)
        <br />
        @Html.LabelFor(model => model.EndSaturday, "End saturday")
        <br />
        @Html.EditorFor(model => model.EndSaturday)
        <br />
        @Html.LabelFor(model => model.WeekType, "First week type")
        <br />
        @Html.EditorFor(model => model.WeekType)
        <br/>
        @Html.LabelFor(model => model.SecondWeekType, "Second week type")
        <br />
        @Html.EditorFor(model => model.SecondWeekType)
        <br />
        <input type="submit" value="Add" />
        <br />
    }
    </form>
        </div>
    <div class="form-2">
        <form method="post" asp-controller="Admin" asp-action="Delete">       
           <input type="submit" value="Delete" />
        </form>
            <form method="post" asp-controller="Admin" asp-action="UppdateDatabase">
                <input type="submit" value="Uppdate database" />
            </form>
    </div>
</div>
</body>
</html>
