@model List<LessonInfo>
@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="text-center">
        <table border="1" style="width: 100%; border-collapse: collapse; text-align: center;">
            <thead>
                <tr>
                    <th>Monday</th>
                    <th>Tuesday</th>
                    <th>Wednesday</th>
                    <th>Thursday</th>
                    <th>Friday</th>
                    <th>Saturday</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    @for (int i = 1; i <= 6; i++)
                    {
                        <td>
                            @foreach (var lesson in Model.Where(d => d.Day == ((DayOfWeek)i).ToString().ToUpper()))
                            {
                                <div>
                                    <strong>@lesson.StartTime - @lesson.EndTime</strong><br>
                                    @lesson.Subject<br>
                                    @lesson.GroupTitle<br>
                                    @lesson.LessonType<br>
                                    @lesson.RoomName<br>
                                    @lesson.TeacherSurname  @lesson.TeacherName  @lesson.TeacherPatronymic<br></br>
                                </div>
                            }
                        </td>
                    }
                </tr>
            </tbody>
        </table>
    </div>
    <form asp-controller="Schedule" asp-action="index">
        <div class="center">
            <input type="submit" value="Назад" />
        </div>
    </form>
    </body>
</html>
