@model List<LessonInfo>
@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container-fluid">
            <a class="navbar-brand" asp-area="" asp-controller="Schedule" asp-action="index">Home</a>
        </div>
    </nav>
    <div class="text-center">
        <table class="table">
            <caption>
                @Model[0].WeekType Week
            </caption>
            <thead>
                <tr>
                    <th>Time</th>
                    <th>Monday</th>
                    <th>Tuesday</th>
                    <th>Wednesday</th>
                    <th>Thursday</th>
                    <th>Friday</th>
                    <th>Saturday</th>
                </tr>
            </thead>
            <tbody>
                @{
                    string[] timeSlots = { "08:20 - 09:40", "09:50 - 11:10", "11:30 - 12:50", "13:00 - 14:20", "14:40 - 16:00" };
                }
                @foreach (var time in timeSlots)
                {
                    <tr>
                        <td class="time">@time</td>
                        @for (int i = 1; i <= 6; i++)
                        {
                            <td>
                                @{
                                    var lesson = Model.FirstOrDefault(d => d.Day == ((DayOfWeek)i).ToString().ToUpper() && d.StartTime == time.Split(" - ")[0]);
                                }
                                @if (lesson != null)
                                {
                                    <p>
                                        @lesson.GroupTitle<br>
                                        @lesson.Subject<br>
                                        @lesson.LessonType<br>
                                        @lesson.RoomName<br>
                                        @lesson.TeacherSurname @lesson.TeacherName @lesson.TeacherPatronymic
                                    </p>
                                }
                            </td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>
</html>